@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-size: 1.25rem;
    color: var(--color);
    background-color: var(--background-page);
}

#header, #footer {
    width: 100%;
    height: 7.425rem;
    background: linear-gradient(to bottom, var(--background-h-f-1), var(--background-h-f-2));
    border-bottom: 0.25rem solid var(--border-normal);
    text-align: center;
    margin-bottom: 3.125rem;
}

#header {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
}

#theme-container{
    width: 2.188rem;
    height: 2.188rem;
    border: 0.063rem solid var(--border-box);
}

#main {
    margin: 0 12%;
    background: var(--background-main);
    border: 0.063rem solid var(--border-normal);
    padding: 1.25rem 2.5%;
}

h1 {
    margin-top: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    text-indent: 1.125rem;
    text-align: justify;
}

.box-text {
    font-family: "Golos Text", serif;
    font-weight: 400;
    font-style: normal;
    word-spacing: 0.25rem;
    line-height: 2;
}

#navigation {
    width: 20rem;
    height: auto;
    /* overflow-y: auto; */
}

.nav-box {
    display: flex;
    flex-direction: column;
    padding: 0.938rem;
    font-size: 0.875rem;
}

#nav-name {
    display: flex;
    flex-direction: row;
    gap: 5.25rem;
    border-bottom: 0.25rem double var(--border-navigation);
}

.button, img {
    user-select: none;
}

#nav-button::before {
    content: '[';
    color: var(--color);
}

#nav-button::after {
    content: ']';
    color: var(--color);
}

.button {
    color: var(--link);
}

.button:hover {
    color: var(--link-hover);
    cursor: pointer;
}

ul {
    list-style: none;
}

.toclevel-2 {
    margin-left: 0.688rem;
}

.tocnumber {
    font-size: 0.813rem;
}

#nav-link a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    line-height: 2.3;
}

#nav-link .toclevel-1 a:hover, #nav-link .toclevel-2 a:hover {
    color: var(--link);
    background-color: var(--border-box);
    border-radius: 0.25rem;
    padding-left: 0.313rem;
    cursor: pointer;
}

#gallery img {
    display: block;
    margin: 6% auto 2%;
    border-radius: 5%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.gallery-box {
    background-color: var(--background-box);
    border: 0.125rem solid var(--border-box);
    margin-top: 1.563rem;
    padding: 1.25rem;
}

#footer {
    margin-bottom: 0;
    margin-top: 3.125rem;
    border-bottom: 3.125rem;
    border-top: 0.25rem solid var(--border-normal);
}

#scrollToTopBtn {
    width: 3.125rem;
    height: 3.125rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
}

#scrollToTopBtn:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    body {
      font-size: 0.875rem;
    }
    #header {
        font-size: 1.5rem;
    }
    #main {
        margin: 0 5%;
    }
    h1 {
      font-size: 1.5rem;
      margin: 0.9375rem 0;
    }
    h2 {
      font-size: 1.125rem;
    }
    #navigation{
        width: 12rem;
    }
    .nav-box{
        font-size: 0.625rem;
        padding: 0.563rem;
    }
    .tocnumber {
        font-size: 0.573rem;
    }    
    #nav-link a {
        line-height: 1.7;
    }
    .box-text {
        word-spacing: 0.125rem;
    }
    /* nav a {
      font-size: 0.875rem;
      padding: 0.3125rem 0.5rem;
    } */
    #scrollToTopBtn {
        width: 2.125rem;
        height: 2.125rem;
        opacity: 0.4;
    }
    /* .text {
      padding: 0 0.5rem;
      margin: 0.625rem 0;
    } */
    /* .image {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    } */
}

:root {
    --color: #000;
    --background-main: #fafafa;
    --background-page: #f5f5f5;
    --background-h-f-1: #FFF8E7;
    --background-h-f-2: #FFE4B5;
    --background-box: #fff;
    --link: #6eb1c7;
    --link-hover: #6e77c7;
    --border-normal: #e0e0e0;
    --border-box: #DFDFDF;
    --border-navigation: #2C2C72;
}